<h2>By Region</h2>
<hr>

<div class="row">
  <div class="col text-center">

    <button
      *ngFor="let region of regions"
      class="btn btn-outline-secondary mx-2"
      [ngClass]="{'btn-primary text-black': selectedRegion === region}"
      (click)="searchByRegion(region)"
    >
      {{ region }}
    </button>

  </div>
</div>

<hr>

<div class="row">
  <div class="col">

    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>

    <countries-country-table [countries]="countries"></countries-country-table>

  </div>
</div>
